.page-template-tpl-almadalen {
	height: 100%;
	width: 100%;
	background: $charcoal-medium;
}

.almedalen-logo {
	background: url(../images/logos/justarrived-almedalen.png) no-repeat center center;
	width: 100%;
	height: 86px;
	padding: 4em 0;
	background-size: 278px 73px;
	@include mobile {
		padding: 2em 0;
		background-size: 278px 73px;
	}
	@include tablet {
		padding: 8% 0;
		background-size: 329px 86px;
	}
}

.almedalen-content-container {
	top: auto;
	width: 100%;
	max-width: 650px;
    margin: 0 auto;
    @include desktop {
    	max-width: 1200px;
    }
    & h1 {
		font-size: 32px;
	}
	& .module--txt-c {
	  text-align: center;
	}
	& .bordered {
		&:before {
			margin: 0 auto 0.6em;
		}
	}
}

.almedalen-signup,
.almedalen-copy {
	height: 100%;	
	padding: 10% 6%;
	@include tablet-small {
		padding: 8% 10%;	
	}
	@include desktop {
		float: left;
		width: 50%;
		padding: 4% 5%;
	}
}

.almedalen-wrapper {
	padding: 0 6%;
	@include tablet-small {
		padding: 0 10%;	
	}
	@include tablet {		
		padding: 0 1%;
	}
}

.almedalen-signup {
	left: 0;
	background: #fff;
	& .section--signup-popup {
		padding: 0;
	} 

	& .module-content--centered {
		max-width: auto;
	}
}

.almedalen-copy {
	right: 0;
	color: #fff;
	background: $stone-dark;
	& h1 {
		color: #fff;
	}
}

.social-list {
	margin-top: 36px;
	font-size: 0;
	& a {
		color: $stone-light;
		text-decoration: none;
	}
}

.social-list__link {
	font-size: 24px;
	display: inline-block;
	margin-right: 0.8em;
}

.social-list__text-link {
	font-size: 18px;
    margin-right: 0;
    float: right;
    position: relative;
    top: 5px;
    @include mobile {
    	float: none;
    	top: auto;
    	margin-left: 2em;
    }
}

.facebook-link {
	&:hover {
		color: $charcoal;
	}
}

.twitter-link {
	&:hover {
		color: $charcoal;
	}
}

.instagram-link {
	&:hover {
		color: $charcoal;
	}
}

.justarrived-link {
	&:hover {
		color: $charcoal;
	}
}

.almedalen-sponsors,
.almedalen-profiles {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 4em;
}

.almedalen-sponsors__logos {
	text-align: center;
	margin: 2em 0 0;
	@include tablet {
		margin: 0;
	}
}

.almedalen-sponsors__logo {
	display: inline-block;
	vertical-align: middle;
	margin: 0 2em 2em;
	& img {
		max-width: 120px;
		@include tablet {
			max-width: 150px;
		}
	}
	&.--eins {
		max-width: 115px;
	}
	&.--ryska {
		max-width: 80px;
	}
}

.almedalen-profiles__profiles {
	font-size: 0;
	margin: 32px auto 0;
	max-width: 900px;
}

.almedalen-profiles__profile {
	display: inline-block;
	margin: 0 2% 2%;
	text-align: center;
	width: 29%;
	font-size: 14px;
	color: #fff;
	@include tablet-small {
		margin: 0 2% 2%;
		width: 21%;
		font-size: 16px;
	}
	& img {
		max-width: 170px;
	}
}









